.vit-wrapper {
  height: 400px;
  width: 100%;
  outline: none;
  overflow: scroll;
  color: #303133;
  font-size: 16px;
}
.vit-wrapper,
.vit-wrapper * {
  box-sizing: border-box;
}
.vit-node-wrapper {
  position: absolute;
  width: 100%;
  min-height: 28px;
  display: flex;
  align-items: center;
  transition: transform 0.2s;
  background-color: #fff;
}
.vit-node-wrapper .vit-node-arrow {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  padding: 6px;
  transition: transform 0.2s;
  color: rgba(51, 51, 51, 0.7490196078431373);
  cursor: pointer;
}
.vit-node-wrapper .vit-node-arrow.collapsed {
  transform: rotate(90deg);
}
.vit-node-wrapper .vit-node-checkbox {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #e4e7ed;
  margin: 3px 6px 3px 0;
  border-radius: 2px;
  transition: border 0.4s;
}
.vit-node-wrapper .vit-node-checkbox:active,
.vit-node-wrapper .vit-node-checkbox:hover {
  border-color: #f63;
}
.vit-node-wrapper .vit-node-checkbox:after {
  border-radius: 2px;
  width: 0;
  height: 0;
  content: '';
  background-color: #f63;
  transition: all 0.4s cubic-bezier(0.12, 0.4, 0.29, 1.46);
}
.vit-node-wrapper .vit-node-checkbox.checked:after {
  width: 10px;
  height: 10px;
}
.vit-node-wrapper .vit-node-content {
  word-break: break-word;
  cursor: pointer;
  padding: 2px 4px;
  border-radius: 2px;
  transition: all 0.4s;
}
.vit-node-wrapper .vit-node-content:hover {
  background-color: #e4e7ed;
}
.vit-node-wrapper .vit-node-content.vit-node-focus {
  background-color: #ffb399;
  color: #fff;
}
#app[data-v-0e6e88ca] {
  color: #2c3e50;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
#app .logo-wrapper[data-v-0e6e88ca] {
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(145deg, #2c3e50, #f63 120%);
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0 40px;
}
#app .logo-wrapper > span[data-v-0e6e88ca] {
  color: #fff;
  line-height: 100px;
}
#app .logo-wrapper > span[data-v-0e6e88ca]:first-child {
  font-size: 100px;
}
#app .logo-wrapper > span[data-v-0e6e88ca]:nth-child(2) {
  font-size: 120px;
}
#app .logo-wrapper > span[data-v-0e6e88ca]:nth-child(3) {
  font-size: 100px;
}
#app .main-wrapper[data-v-0e6e88ca] {
  display: flex;
  max-height: calc(100% - 110px);
}
#app .main-wrapper .config-panel[data-v-0e6e88ca] {
  width: 250px;
  flex-shrink: 0;
  padding: 0 5px;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
#app .main-wrapper .config-panel .mock-config[data-v-0e6e88ca] {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 5px 5px;
  border: 1px dashed #2c3e50;
  margin-top: 20px;
  align-items: flex-end;
}
#app .main-wrapper .config-panel .mock-config > label[data-v-0e6e88ca] {
  position: absolute;
  top: -10px;
  left: 10px;
  color: #fff;
  padding: 2px 5px;
  text-align: left;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: #2c3e50;
}
#app .main-wrapper .config-panel .mock-config > input[data-v-0e6e88ca] {
  margin-bottom: 5px;
}
#app .main-wrapper .config-panel .vit-config[data-v-0e6e88ca] {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 5px 5px;
  border: 1px dashed #2c3e50;
  margin-top: 20px;
}
#app .main-wrapper .config-panel .vit-config > label[data-v-0e6e88ca] {
  position: absolute;
  top: -10px;
  left: 10px;
  color: #fff;
  padding: 2px 5px;
  text-align: left;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: #2c3e50;
}
#app .main-wrapper .config-panel .vit-config > div[data-v-0e6e88ca] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app .main-wrapper .config-panel .vit-config > div .active[data-v-0e6e88ca] {
  color: #f63;
}
#app .main-wrapper .infinite-tree[data-v-0e6e88ca] {
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin: 0 10px;
  height: auto;
}
#app .main-wrapper .tree-preview[data-v-0e6e88ca] {
  width: 400px;
  max-height: 100%;
  overflow: scroll;
  flex-shrink: 0;
  white-space: pre;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
body,
html {
  font-family: Helvetica, Avenir, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
}
body *,
html * {
  box-sizing: border-box;
}
.xinput[data-v-0e290ff5] {
  width: 100px;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  border: 1px solid #e4e7ed;
  border-radius: 2px;
  outline: none;
  transition: all 0.2s;
}
.xinput[data-v-0e290ff5]:hover {
  border-color: #c5c8ce;
}
.xinput[data-v-0e290ff5]:focus {
  border-color: #f63;
  caret-color: #f63;
}
.xinput[data-v-0e290ff5]::-moz-selection {
  background: #ff9f80;
  color: #fff;
}
.xinput[data-v-0e290ff5]::selection {
  background: #ff9f80;
  color: #fff;
}
.xbutton[data-v-5c0f35ec] {
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  border: none;
  background-color: #f63;
  color: #fff;
  border-radius: 2px;
  outline: none;
  transition: all 0.4s;
  cursor: pointer;
}
.xbutton[data-v-5c0f35ec]:hover {
  background-color: #fc8962;
}
.xbutton[data-v-5c0f35ec]:focus {
  background-color: #e63900;
}
.xswitch[data-v-0a8d3964] {
  height: 20px;
  position: relative;
  width: 40px;
  display: inline-block;
  background-color: #eaedf3;
  border-radius: 10px;
  transition: all 0.4s;
  cursor: pointer;
}
.xswitch[data-v-0a8d3964]:before {
  position: absolute;
  content: '';
  left: 2px;
  top: 2px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #fff;
  transition: all 0.4s;
}
.xswitch.active[data-v-0a8d3964] {
  background-color: #f63;
}
.xswitch.active[data-v-0a8d3964]:before {
  left: 22px;
}
