.node-highlight[data-v-271e173d] {
  color: #fff;
}
.node-wrapper[data-v-271e173d] {
  position: absolute;
  width: 100%;
  height: 22px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  transition: transform 0.3s;
}
.node-wrapper[data-v-271e173d]:hover {
  background-color: rgba(69, 52, 82, 0.4);
  color: #fff;
}
.node-wrapper.node-focus[data-v-271e173d] {
  background-color: rgba(69, 52, 82, 0.8);
  color: #fff;
}
.node-wrapper .check-box[data-v-271e173d] {
  width: 18px;
  height: 18px;
  background-color: #efefef;
  background-color: rgba(246, 117, 5, 0.2);
  border: 1px solid #f67505;
  margin-right: 4px;
  border-radius: 2px;
}
.node-wrapper .check-box.checked[data-v-271e173d] {
  display: flex;
  justify-content: center;
  align-items: center;
}
.node-wrapper .check-box.checked[data-v-271e173d]:after {
  display: inline-block;
  border-radius: 2px;
  width: 10px;
  height: 10px;
  content: '';
  background-color: #f67505;
}
.vit-wrapper[data-v-26f08982] {
  height: 400px;
  width: 100%;
  overflow: scroll;
  border: 1px solid #f67505;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 800px;
  margin: 0 auto;
}
#app .logo-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#app .main-wrapper {
  display: flex;
}
#app .main-wrapper .config-panel {
  width: 100px;
  flex-shrink: 0;
}
